# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.exe
*.pdb
*.obj
*.log
*.tlog
*.idb
*.suo
*.sdf
*.dll
*.ilk
*.lib
*.yml
*.bat
*.txt
*.dat
SigTM/test_data/ctr/ldagb_alpha
SigTM/test_data/ctr/ldagb_info
SigTM/test_data/ctr/ldagb_token_z
SigTM/test_data/ctr/mf_factor_u
SigTM/test_data/ctr/mf_factor_v
SigTM/test_data/ctr/params/item_factor0
SigTM/test_data/ctr/params/item_factor1
SigTM/test_data/ctr/params/item_factor2
SigTM/test_data/ctr/params/item_factor3
SigTM/test_data/ctr/params/item_factor4
SigTM/test_data/ctr/params/theta0
SigTM/test_data/ctr/params/theta1
SigTM/test_data/ctr/params/theta2
SigTM/test_data/ctr/params/theta3
SigTM/test_data/ctr/params/theta4
SigTM/test_data/ctr/params/user_factor0
SigTM/test_data/ctr/params/user_factor1
SigTM/test_data/ctr/params/user_factor2
SigTM/test_data/ctr/params/user_factor3
SigTM/test_data/ctr/params/user_factor4
SigTM/test_data/ctr/params_mf/item_factor0
SigTM/test_data/ctr/params_mf/item_factor1
SigTM/test_data/ctr/params_mf/item_factor2
SigTM/test_data/ctr/params_mf/item_factor3
SigTM/test_data/ctr/params_mf/item_factor4
SigTM/test_data/ctr/params_mf/theta0
SigTM/test_data/ctr/params_mf/theta1
SigTM/test_data/ctr/params_mf/theta2
SigTM/test_data/ctr/params_mf/theta3
SigTM/test_data/ctr/params_mf/theta4
SigTM/test_data/ctr/params_mf/user_factor0
SigTM/test_data/ctr/params_mf/user_factor1
SigTM/test_data/ctr/params_mf/user_factor2
SigTM/test_data/ctr/params_mf/user_factor3
SigTM/test_data/ctr/params_mf/user_factor4
SigTM/test_data/ctr/params_opt/item_factor0
SigTM/test_data/ctr/params_opt/item_factor1
SigTM/test_data/ctr/params_opt/item_factor2
SigTM/test_data/ctr/params_opt/item_factor3
SigTM/test_data/ctr/params_opt/item_factor4
SigTM/test_data/ctr/params_opt/theta0
SigTM/test_data/ctr/params_opt/theta1
SigTM/test_data/ctr/params_opt/theta2
SigTM/test_data/ctr/params_opt/theta3
SigTM/test_data/ctr/params_opt/theta4
SigTM/test_data/ctr/params_opt/user_factor1
SigTM/test_data/ctr/params_opt/user_factor2
SigTM/test_data/ctr/params_opt/user_factor0
SigTM/test_data/ctr/params_opt/user_factor3
SigTM/test_data/ctr/params_opt/user_factor4
SigTM/test_data/ctr/phi
project/VisualStudio 2014/SigTM.opensdf
/doxygen/html
