# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.exe
*.pdb
*.obj
*.log
*.tlog
*.idb
*.suo
*.sdf
*.filters
*.filters

*.dll
*.ilk
*.lib
*.yml
*.bat